@import 'src/assets/styles/variable.scss';
@import 'src/assets/styles/responsive.scss';
@import 'src/assets/styles/app.scss';
@import 'src/assets/styles/spinner.scss';
@import 'src/assets/styles/style.scss';

.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}