#close{
  float: right;
  margin-top: -2%;
}

mat-form-field{
  width: 80%;
  margin-left: 5%;
  display: block;
}

mat-error{
  margin-top: -10px;
  margin-left: 5%;
}

button
{
  display: block;
}
.floating-box{
  width: auto;
  display: inline-block;
}
