<button id="close" color="primary" mat-icon-button aria-label="Close icon" (click)="closeDialog()">
    <mat-icon  svgIcon="close"></mat-icon>
</button>
<br>
<h1 mat-dialog-title>Nueva medición del parámetro {{data.parametro.nombre}} en la zona {{data.zona.nombre}}</h1>
<div mat-dialog-content>
    <form [formGroup]="form" (submit)="onSaveMedicion()">
        <mat-form-field style="width: 60%" class="floating-box">
            <input
            matInput          
            type="number"
            formControlName="valor"
            placeholder="Valor de la medición *">          
        </mat-form-field>
        <p class="floating-box">
            {{data.parametro.unidad_medida.nombre}}
        </p>
        <div *ngIf="form.controls.valor.errors && (form.controls.valor.dirty || form.controls.valor.touched || isSubmited)">
            <mat-error *ngIf="form.controls.valor.errors.required">Por favor ingrese el valor de la medición</mat-error>
        </div>

        <mat-form-field>
            <input
            matInput
            type="date"
            [max]="today"
            formControlName="fecha"
            placeholder="Fecha de la medición *">
        </mat-form-field>
        <div *ngIf="form.controls.fecha.errors && (form.controls.fecha.dirty || form.controls.fecha.touched || isSubmited)">
            <mat-error *ngIf="form.controls.fecha.errors.required">Por favor ingrese la fecha en la que se realizó la medición</mat-error>
        </div>

        <mat-form-field>
            <input
            matInput
            type="time"
            formControlName="hora"
            placeholder="Hora de la medición *">
        </mat-form-field>
        <div *ngIf="form.controls.hora.errors && (form.controls.hora.dirty || form.controls.hora.touched || isSubmited)">
            <mat-error *ngIf="form.controls.hora.errors.required">Por favor ingrese la hora en la que se realizó la medición</mat-error>
        </div>

        <button type="submit" mat-raised-button color="primary" >
            <i class="fa fa-save" style="margin-top:-4px;margin-right: 4px; width: 21px; height: 21px"></i>Guardar
        </button>
    </form>
</div>