<!-- ============================================================== -->
<!-- sidebar -->
<!-- ============================================================== -->
 <div class="user-profile">
 <img src="assets/images/background/matanzas.jpg" width="100%" height="145">

</div>
<mat-nav-list appAccordion>
    <button mat-button [routerLink]="['/indicadores']" style="font-size: 13px"><i class="fa fa-chart-line" style="margin-top:-4px;margin-right: 4px; width: 21px; height: 21px"></i> INDICADORES</button>
    <button mat-button [routerLink]="['/geoportal']"  style="font-size: 13px"><i class="fa fa-globe" style="margin-top:-4px;margin-right: 4px; width: 21px; height: 21px"></i> GEOPORTAL</button>
    <button mat-button [routerLink]="['/proyectos']" style="font-size: 13px" ><i class="fa fa-list" style="margin-top:-4px;margin-right: 4px; width: 21px; height: 21px"></i> PROYECTOS</button>
    <button mat-button [routerLink]="['/repositorio']" style="font-size: 13px"><i class="fa fa-bookmark" style="margin-top:-4px;margin-right: 4px; width: 21px; height: 21px"></i> REPOSITORIO</button>
    <button mat-button style="font-size: 13px" ><i class="fa fa-graduation-cap" style="margin-top:-4px;margin-right: 4px; width: 21px; height: 21px"></i>TESIS</button>
    <button mat-button style="font-size: 13px" ><i class="fa fa-chalkboard-teacher" style="margin-top:-4px;margin-right: 4px; width: 21px; height: 21px"></i>CAPACITACIÓN</button>
    <button mat-button style="font-size: 13px" ><i class="fa fa-question-circle" style="margin-top:-4px;margin-right: 4px; width: 19px; height: 19px"></i>AYUDA</button>
</mat-nav-list>
