/*@import 'src/assets/styles/variable.scss';
@import 'src/assets/styles/responsive.scss';
@import 'src/assets/styles/app.scss';
@import '~ngx-toastr/toastr';
@import '~ngx-toastr/toastr.css';*/

.container-fluid {
  height: 83vh;
  width: 100%;
}

:host{
  display: block;
  margin: auto;
  margin-top: 1rem;
  width: 97%;
}
.floating-box{
  width: auto;
  display: inline-block;
}
mat-form-field{
  width: 80%;
  margin-left: 80px;
}

mat-card{
  width: 97%;
}

button{
  margin: 20px;
}
mat-toolbar{
  border-radius: 5px;
  margin-bottom: 2rem;
  background-color: #1e88e5;
  color: #ffffff;
  text-transform: uppercase
}

button:hover{
  background-color: white;
  color: #1e88e5;
}
