
// @import 'src/assets/styles/variable.scss';
// @import 'src/assets/styles/responsive.scss';
// @import 'src/assets/styles/app.scss';

// .iconos{
//     margin-top: -4px;
//     margin-right: 3px;
// }

// .right-control{
//     float: right;
// }

// #menu-map{
//     position: absolute;
//     width: 150px;
//     padding: 18px;
//     background-color: rgba($color: #ffff, $alpha: 0.7);
//     border-radius: 10px;
//     margin-top: 200px;
//     margin-left: 20px;
// }
// #menu-map mat-checkbox{
//     margin-bottom: 8px;
// }
:host{
    display: block;
    margin: auto;
    margin-top: 1rem;
    width: 95%;
}

.floating-box{
    display: inline-block;
}

img {
    position:absolute
}

#map{
    width: 100%;
    border-radius:5px;
    height: 540px;
}

#closeInfo{
    float: right;
}

#info{
    width: 100%;
    margin-top: 10px;
}

#editar{
    margin-left: 3%;
}

#eliminar{
    margin-left: 3%;
}