.container-fluid {
  height: 83vh;
  width: 100%;
}

  :host{
    display: block;
    margin: auto;
    margin-top: 1rem;
    width: 97%;
}

mat-card{
  width: 97%;
}
mat-card-content{
  margin-left: 10%;
}

button{
  margin: 20px;
}
mat-toolbar{
  border-radius: 5px;
  margin-bottom: 2rem;
  background-color: #1e88e5;
  color: white;
  text-transform: uppercase
}

button:hover{
  background-color: white;
  color: #1e88e5;
}
